<div class="container vh-100">
  <div class="d-flex align-items-center justify-content-around mt-3">
    <div class="border border-opacity-25 rounded-3 p-2 bg-white shadow-sm">
      <i class="fa-solid fa-arrow-left fa-2xl"></i>
    </div>
    <strong><h1><%= @family_member.profile_title %></h1></strong>
    <i class="fa-solid fa-people-pulling fa-2xl" style="color: #FFD43B;"></i>
  </div>
  <div class="d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center align-items-center">
      <%= cl_image_tag(@family_member.photo.key, class:'my-3 w-50') %>
    </div>
    <div class="d-flex justify-content-center my-3">
      <p>
        <strong>Nome:</strong>
        <%= @name %>
      </p>
      <p>
        <strong>Por que me alugar?</strong>
        <%= @family_member.description %>
      </p>
      <p>
        <strong>Preço:</strong>
        <%= "R$#{@family_member.value_hour}" %>/hr
      </p>
      <% if user_signed_in? %>
        <div class="d-flex mb-5">
          <div class="justify-content-center me-3">
            <%= link_to 'Alugar', new_family_member_order_path(@family_member), class: "btn btn-success" %>
          </div>
          <div class="justify-content-center me-3">
            <%= link_to 'Voltar', family_members_path, class: "btn btn-success" %>
          </div>
        </div>
        <% else %>
        <div class="d-flex mb-5">
          <div class="justify-content-center me-3">
            <%= link_to 'Alugar', new_family_member_order_path(@family_member), class: "btn btn-success" %>
          </div>
          <div class="justify-content-center me-3">
            <%= link_to 'Voltar', family_members_path, class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  <% total_rating = 0 %>
  <% @reviews.each do |review| %>
  <div class="d-flex flex-column justify-content-center">
    <div class="card d-flex justify-content-center align-items-center mb-3 w-50">
      <div class="card-body">
        <p class="card-text"><%= review.content %></p>
        <p class="card-text"><%= review.user.first_name %></p>
        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted">Avaliação: <%= review.rating %></small>
        </div>
      </div>
    </div>
    <% total_rating += review.rating %>
  <% end %>

  <% average_rating = @reviews.any? ? (total_rating.to_f / @reviews.size).round(2) : 0 %>

  <div class="mt-3">
    <strong>Média de avaliações: </strong><%= average_rating %>
  </div>
  </div>
</div>
