<h1> Seus pedidos </h1>

<%= form_for orders_path do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <%= f.submit %>
<% end %>
<% @user_orders.each do |order| %>
  <p>Pedido ##<%= order.id %>: <%= order.description %></p>
  <% end %>
