<div class = container>

<div class= "my-card">
   <h1> <strong>Seus pedidos<strong> </h1>
      <div class="main">
  <ul>
    <% @user_orders.each do |order| %>
      <li>
        <p>Pedido número: <%= order.id %></p>
        <p>Criada em: <%= order.created_at.strftime("%d/%m/%Y") %> </p>
        <p>Aluguel agendado para: <%= order.rent_date.strftime("%d/%m/%Y") %></p>
        <%= link_to "Detalhes do pedido", order_path(order), class: "btn btn-primary" %>
      </li>
    <% end %>

        <%= image_tag("")%>
        <h2> </h2>
        <p class="description"> </p>
        <div class="card-info">
          <div class="date">
            <ins></ins>
            <p>  </p>
          </div>
          <div class="hour">
            <ins></ins>
            <p></p>
        </div>
      </div>
      <hr> </hr>
      <div class="family">
        <div class="wrapper">
        </div>
      </div>
    </div>
  </ul>
</div>
