<div class="container">
  <div class="my-card">
    <h1 class="text-center mt-2"> <strong>Seus pedidos<strong> </h1>
    <div class="d-flex flex-column align-items-center">
      <% @user_orders.each do |order| %>
      <div class="d-flex flex-column justify-content-center align-items-center p-2 border border-warning rounded-4 mb-2 w-75 shadow-sm">
        <p class="m-0 p-0 pb-2 pt-1"><strong>Pedido número:</strong> ID#RMF<%= @initials %><%= order.id %></p>
        <p class="m-0 p-0 pb-2">Criada em: <%= order.created_at.strftime("%d/%m/%Y") %> </p>
        <p>Aluguel agendado para: <%= order.rent_date.strftime("%d/%m/%Y") %></p>
        <%= link_to "Detalhes do pedido", order_path(order), class: "btn btn-warning rounded-3" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
