<div class="container">
  <div class="my-card">
    <div class="d-flex flex-column align-items-center p-2">
      <h1 class="mt-1 mb-3">Detalhes do pedido</h1>
      <span>
        <p class="m-0 p-0 pb-2 pt-1"><strong>Pedido número:</strong> ID#RMF<%= @initials %><%= @order.id %></p>
        <p class="m-0 p-0 pb-2 pt-1"><strong>Nome: </strong><%= @order.family_member.first_name %> <%= @order.family_member.last_name %></p>
        <p class="m-0 p-0 pb-2 pt-1"><strong>Quantidade de horas alugadas: </strong><%= @order.quantity_hour %></p>
        <p class="m-0 p-0 pb-2 pt-1"><strong>Criada em: </strong><%= @order.created_at.strftime("%d/%m/%Y") %></p>
        <p class="m-0 mb-1 p-0 pb-2 pt-1"><strong>Aluguel agendado para: </strong><%= @order.rent_date.strftime("%d/%m/%Y") %></p>
      </span>
    </div>
    <div class="d-flex justify-content-between mt-3 mb-2">
      <% if current_user && @order_review == nil %>
        <%= link_to "Avaliar", new_order_review_path(@order), class: "btn btn-warning" %>
      <% end %>
      <%= link_to "Cancelar", order_path(@order), data: { turbo_method: :delete }, id: "cancel-order", class: "btn btn-outline-warning" %>
      <%= link_to "Voltar", orders_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>
